<div class="container">

	<div class="row">
		<div class="col m6">
			<div class="card">
		    <canvas id="homeChart" baseChart height="327px" width="1000px" 
		            [datasets]="barChartData"
		            [labels]="barChartLabels"
		            [options]="barChartOptions"
		            [legend]="barChartLegend"
		            [colors]="barColors"
		            [chartType]="barChartType"
		            (chartHover)="chartHovered($event)"
		            (chartClick)="chartClicked($event)">
		     </canvas>
			</div>
	</div>
	<div class="">
</div>
</div>
