#homeChart{
	margin: auto;
	padding: 0;
	width: 800px;
	display: block;
}

.container {
	width: 90% !important;
	margin-top: 40px;
}
.card-title {
	color: black !important;
}

.text {
	text-align: center;
}

#piChart {
	padding-bottom: 20px;
}