@import url('https://fonts.googleapis.com/css?family=Raleway|Titillium+Web');

#homeChart{
	margin: auto;
	padding: 0;
	width: 800px;
	display: block;
}

.container {
	width: 90% !important;
	margin-top: 40px;
}
.card-title {
	color: black !important;
	font-size: 2.3em;
}

.title {
	text-align: center;
	padding-top: 10px;
}

#piChart {
	padding-bottom: 20px;
}

.info p {
	font-family: 'Raleway', sans-serif;
	font-size: 3.5em;
	margin: auto;
}

.data p {
	display: block;
	font-family: 'Titillium', sans-serif;
	font-size: 1.3em;
	text-align: center;
}

#infoCard .card {
	height: 450px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 6%;
    padding: 0;
}


