<div class="container">
	
	<div class="row" id="infoCard">
	<div class="col m3">
	  <div class="card">
	    <div class="card-image">
	      <img src="../assets/img/sunny.png">
	      <span class="card-title">Sunny</span>
	    </div>
	    <div class="card-content">
	    <p> Looks like its gonna be sunny for a long time man. Better start working on our plants </p>
	    </div>
	  </div>
	</div>

	<div class="col m4">
		<div class="card row" *ngIf="results">
		<div class="card-title title"> Weather Info </div>
		<hr>
		<span class="info col m6">
			<p> {{ results.name }} </p>
			<p> {{ results.sys.country }} </p>
		</span>
			<span class="data col m6">
				<p> <b>Temperature: </b> <br> {{ results.main.temp-273.15 }} C</p>
				<p> <b>Pressure: </b> <br> {{ results.main.pressure }}hPa </p>
				<p> <b>Humidity: </b> <br> {{ results.main.humidity }}% </p>
			</span>
		</div>
		<br style="clear:both;"/>
  </div>
	<div class="col m5">
		<div class="card" id="piChart">
			<div class="card-title title"> Manure Level </div>
			 <hr>
			    <canvas id="homeChart" baseChart height="320px" width="320px" 
		            [datasets]="doughnutChartData"
		            [labels]="doughnutChartLabels"
		            [options]="barChartOptions"
		            [colors]="doughnutChartColor"
		            [legend]=false
		            [chartType]="doughnutChartType"
		            (chartHover)="chartHovered($event)"
		            (chartClick)="chartClicked($event)">
		     </canvas>

		</div>
	</div>
	</div>
  <div class="row">
	<div class="col m12">
		<div class="card">
		    <canvas id="homeChart" baseChart height="327px" width="1000px" 
		            [datasets]="barChartData"
		            [labels]="barChartLabels"
		            [options]="barChartOptions"
		            [legend]="barChartLegend"
		            [chartType]="barChartType"
		            (chartHover)="chartHovered($event)"
		            (chartClick)="chartClicked($event)">
		     </canvas>
		</div>
	</div>
</div>
